h2,
h3,
p {
    color: Black
}

.landing__instruct {
    text-align: start;

}

.body___divForEntirePage {
    font-family: sans-serif;
    margin: 0;
}


.mainBox {
    display: flex;
    flex-wrap: wrap;
}

.content-img-background {
    background-color: #ac8e6a;
    background-image: url("./excited.jpg");
    height: 1000px;
    width: auto;
    background-size: cover;
    background-position: center;
    /* background-position: 50% 70%; */
    background-repeat: no-repeat;
    text-align: left;
}

.cutesyLine {
    width: 75px;
    height: 3px;
    background: #ffe680;
    margin-right: auto;
    margin-left: auto;
    margin-top: 18px;
    margin-bottom: 18px;
}

.catchyPhrase {
    font-family: "open sans", "sans serif";
    font-size: 15pt;
    color: white;
    font-style: italic;
}

.boarderLine {
    display: inline-block;
    text-align: center;
    padding: 9px;
    position: relative;
    text-decoration: none;
    color: #000;
    font-family: "open sans", "sans-serif";
    font-size: 16px;
    width: 300px;
    border: 5px solid #ffe680;
    border-radius: 7px;
    padding-top: 32px;
    padding-bottom: 40px;
}

.titleText {
    font-family: "open sans", "sans serif";
    font-size: 14pt;
    font-weight: bold;
    color: white;
}

.btn {
    /* float: inline-flex; */
    flex-direction: inherit;
    float: right;
}

.start__quiz_btn {
    width: 145px;
    height: 35px;
    background: #ffe680;
    text-align: center;
    display: inline-block;
    font-family: "open sans";
    color: black;
    font-weight: bold;
    /* padding-top: 10px; */
    /* margin-top: 20px; */
    margin-bottom: -20px;
    z-index: 1000;
    position: relative;
}

.start__quiz_btn a {
    text-decoration: none;
    color: black;
}

.start__quiz_btn:hover {
    border: 1px solid #0A0908;
    background-color: #419D78
}