 .notFound__text {
     text-align: center;
 }


 .notFound {
     background-color: lightblue;
     background-image: url("./awk.jpg");
     height: 1000px;
     width: auto;
     background-size: cover;
     background-position: center;
     /* background-position: 50% 70%; */
     background-repeat: no-repeat;
     text-align: right;
     padding-top: 5%;
     font-size: 15px;
 }