h1 {
    margin: 0px;
    text-align: end;

}

h2,
h3,
p {
    color: black
}

.the__questions {
    background-color: lightblue;
    background-image: url("./bright.jpg");
    height: 1000px;
    width: auto;
    background-size: cover;
    background-position: center;
    /* background-position: 50% 70%; */
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10%;
    font-size: 40px;
}


.questions__button {
    order: 1px solid #aaa;
    font-size: 1.1em;
    width: 300px;

    padding: 8px 12px;

    /* padding: 10px 16px; */
    border: solid #0A0908;
    border-radius: 4px;

    background-color: #419D78;
    color: #0A0908;
    font-weight: bold;

    font-family: 'Markazi Text',
        serif;
    font-size: 20px;
    margin: auto;
    align-content: left;

    /* flex-direction: column; */


}

.questions__button a {
    text-decoration: none;
    color: #0A0908;
    text-align: center;
}

.questions__button:hover {
    background-color: #ffe680
}